/* Theme Color */
.contact-page-section .contact-info li a:hover                                                           
.shipping-block .inner-box h3,
.cart-section .totals-table .col:last-child,
.cart-table tbody tr .remove-btn:hover,
.shipping-block .inner-box h3,
.order-box ul li span,
.service-detail .prod-tabs .tab-btns .tab-btn:hover, 
.service-detail .prod-tabs .tab-btns .tab-btn.active-btn,
.accordion-box .block .acc-btn:hover,
.accordion-box .block .acc-btn.active,
.checkout-page .default-links li .fa,
.shop-comment-form .rating-box .rating a,
.shop-comment-form .mail-text span,
.main-menu .navigation > li.current > a, 
.main-menu .navigation > li:hover > a,
.main-header .sticky-header .main-menu .navigation > li:hover > a,
.main-header .sticky-header .main-menu .navigation > li.current > a,
.main-header .sticky-header .main-menu .navigation > li.current-menu-item > a,
.product-info-tabs .prod-tabs .add-review .rating .rate-box:hover,
.product-info-tabs .prod-tabs .add-review .rating .rate-box:focus,
.product-info-tabs .prod-tabs .add-review .rating .rate-box:active,
.product-info-tabs .prod-tabs .reviews-container .rating,
.product-details .basic-details .rating,
.sidebar .related-posts .rating span,
.sidebar .related-posts .post a:hover,
.category-list li a:hover,
.shop-item .lower-content .price,
.sort-by .ui-button .ui-icon,
.comments-area .comment-box .reply-btn,
.comments-area .comment-box .rating,
.group-title h2,
.brochure-box .inner .icon,
.blog-cat li a:before,
.latest-news .post .post-info,
.latest-news .post:hover h3 a,
.cat-list li.active a span,
.cat-list li:hover a span,
.cat-list li.active a,
.cat-list li:hover a,
.sidebar-page-container .sidebar-title h2,
.main-footer .contact-list li a:hover,
.main-footer .contact-list li span,
.popular-posts .post h4 a:hover,
.main-footer .list li a:hover,
.main-footer .about-widget .social-links li a:hover,
.author-box .social-icon li a,
.blog-detail .post-share-options .social-icon li a:hover,
.blog-detail .post-share-options .tags a:hover,
.news-block-three .lower-content h2 a:hover,
.blog-detail .content-column .designation,
.sidebar .search-box .form-group input[type="submit"],
.sidebar .search-box .form-group button,
.news-block-three .lower-content .info li i,
.news-block-three .lower-content .info li a:hover,
.news-block-two h3 a:hover,
.news-block-two .post-info li a:hover,
.news-block .lower-content h2 a:hover,
.news-block .lower-content .info li i,
.news-block .lower-content .info li a:hover,
.pricing-table .pricing-title span,
.pricing-table .inner-box:hover .price-box .price sub,
.appointment-form .ui-button .ui-icon,
.testimonial-block .content-box .addres,
.testimonial-block .thumb-box .rating,
.team-block .info-box .name a:hover,
.help-box-two .inner .theme-btn,
.help-box-two .inner .title,
.project-section-two .filters .filter.active,
.project-section-two .filters .filter:hover,
.project-section .bottom-box .text-box .link,
.social-icon-one li a:hover,
.gallery-item .overlay-box .caption-box h4 a:hover,
.project-tab .product-tab-btns .p-tab-btn:hover,
.project-tab .product-tab-btns .p-tab-btn.active-btn,
.fluid-section-one .content-column .inner-box .services li .icon,
.fluid-section-one .content-column .inner-box .services li:hover a,
.fluid-section-one .content-column .inner-box .services li:hover .icon,
.feature-block h4 a,
.feature-block h4,
.fluid-section-one .content-column .inner-box .services li a:hover,
.services-section-two .image-column .link-box a,
.accordion-box .block .icon,
.service-detail .lower-content h2,
.service-block .lower-content h3 a:hover,
.about-us .content-column .call-btn span,
.welcome-area .title-column h4,
.page-title .bread-crumb li a:hover,
.checkout-page .default-links li a:hover,
.sec-title h2,
.header-style-two .top-right .info-list li .icon,
.header-style-two .top-right .info-list li a:hover,
.main-header .info-box li a:hover,
.main-header .info-box .icon-box,
.list-style-two li:before,
.list-style-one li:before,
.btn-style-four,
.theme_color,
a{
	color: #bf8c4d;
}



/*=== Background Color ===*/
.main-header .outer-box:before,
.cart-table .cart-header,
.payment-box .lower-box .theme-btn:hover,
.payment-box .payment-options li .radio-option label .small-text,
.shop-comment-form button:hover,
.scroll-to-top:hover,
.checkout-page .lower-content .column h2:after,
.sidebar-widget .range-slider-one .theme-btn:hover,
.about-us .content-column .call-btn:hover .icon,
.sidebar-widget .range-slider-one .ui-state-default,
.sidebar-widget .range-slider-one .ui-widget-content .ui-state-default,
.sidebar-side .sidebar-title h2:before,
.shop-item .overlay-box .icon-box a:hover,
.blog-cat li.active a,
.blog-cat li a:hover,
.tag-list li a:hover,
.help-box-two .inner .theme-btn:hover,
.product-details .basic-details .theme-btn:hover,
.latest-news .post-thumb a:before,
.main-footer .footer-bottom,
.fun-fact-section .count-box:before,
.author-box .social-icon li a:hover,
.news-block-three .overlay-box:before,
.news-block .overlay-box:before,
.pricing-table .inner-box:hover .btn-box .theme-btn,
.pricing-table .price-box,
.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
a.ui-button:active, .ui-button:active, 
.ui-button.ui-state-active:hover,
.call-back-section:before,
.testimonial-section.style-two .owl-dot.active,
.testimonial-section.style-two .owl-dot:hover,
.testimonial-section:before,
.team-block .social-links li a:hover,
.styled-pagination li a:hover,
.styled-pagination li.active a,
.related-project-section .owl-next:hover,
.related-project-section .owl-prev:hover,
.project-section-two.alternate .filters .filter-tabs li:after,
.project-section-two.alternate .filters .filter-tabs li:before,
.project-tab .owl-next:hover,
.project-tab .owl-prev:hover,
.gallery-item .overlay-box .btn-box a:hover,
.project-section .sec-title h2:before,
.feature-block .inner:before,
.header-style-two .search-box-btn,
.call-to-action .btn-column .theme-btn:hover,
.header-style-two .header-lower .outer-box .cart-btn .count,
.header-style-two .header-top:before,
.main-menu .navigation > li > ul > li  > ul > li > a:hover,
.main-menu .navigation > li > ul > li:hover > a,
.btn-style-five:hover,
.btn-style-four:hover,
.btn-style-one,
.comment-form .form-group input[type="submit"]:hover,
.comment-form .form-group button:hover{
	background-color: #bf8c4d;
}

/*Border Color*/

.checkout-form input:focus,
.checkout-form select:focus,
.checkout-form textarea:focus,
.contact-page-section .contact-info li .icon,
.contact-form-two .form-group input:focus,
.contact-form-two .form-group select:focus,
.contact-form-two .form-group textarea:focus,
.login-form .form-group input[type="text"]:focus,
.login-form .form-group input[type="password"]:focus,
.login-form .form-group input[type="tel"]:focus,
.login-form .form-group input[type="email"]:focus,
.login-form .form-group select:focus,
.login-form .form-group textarea:focus,
.shipping-form .form-group input[type="text"]:focus,
.shipping-form .form-group input[type="password"]:focus,
.shipping-form .form-group input[type="tel"]:focus,
.shipping-form .form-group input[type="email"]:focus,
.shipping-form .form-group select:focus,
.shipping-form .form-group textarea:focus,
.coupon-form .form-group input[type="text"]:focus,
.shop-comment-form .form-group input[type="text"]:focus,
.shop-comment-form .form-group input[type="password"]:focus,
.shop-comment-form .form-group input[type="tel"]:focus,
.shop-comment-form .form-group input[type="email"]:focus,
.shop-comment-form .form-group select:focus,
.shop-comment-form .form-group textarea:focus,
.call-to-action .btn-column .theme-btn:hover,
.product-info-tabs .prod-tabs .add-review .form-group textarea:focus,
.product-info-tabs .prod-tabs .add-review .form-group input:focus,
.product-info-tabs .prod-tabs .add-review .form-group select:focus,
.sidebar-widget .range-slider-one .theme-btn:hover,
.shop-sidebar .search-box .form-group input:focus,
.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
a.ui-button:active, .ui-button:active, 
.ui-button.ui-state-active:hover,
.comment-form .form-group input:focus,
.comment-form .form-group select:focus,
.comment-form .form-group textarea:focus,
.tag-list li a:hover,
.sidebar .search-box .form-group input:focus,
.author-box .social-icon li a,
.pricing-table .inner-box:hover,
.call-to-action .btn-column .theme-btn,
.styled-pagination li a:hover,
.styled-pagination li.active a,
.related-project-section .owl-next:hover,
.related-project-section .owl-prev:hover,
.help-box-two .inner .theme-btn,
.services-carousel .owl-dot.active,
.services-carousel .owl-dot:hover,
.main-menu .navigation > li > ul > li > ul,
.main-menu .navigation > li > ul,
.main-header,
.btn-style-four,
.btn-style-one{
	border-color: #bf8c4d;
}

.payment-box .payment-options li .radio-option label .small-text:before{
	border-bottom-color: #bf8c4d;
}

@media only screen and (max-width: 767px){

	.main-menu .navbar-header .navbar-toggler .icon{
		color:#bf8c4d;
	}
	
	.main-menu .navbar-header .navbar-toggle,
	.main-menu .navbar-collapse > .navigation,
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul,
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus,
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,
	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a{
		background-color:#bf8c4d;
	}
	
}